/* stili generale  */
body{
    padding: 0px;
    margin: 0px;
}

#titolo, #non-importante, main, footer{
    padding: 0px 10px;
}


/* stili header */
#decorazione{
    height: 100px;
    background-color:rgba(17, 144, 199, 0.52);
    background-image: url(../img/pattern.png);
    background-size: contain;
    margin-bottom: 10px;
}

#decorazione div{
    height: 50px;
}

#decorazione img{
    height: 30%;
}

#non-importante, #interessamenti{
    color: rgba(0, 0, 0, 0.528);
}

#creatore{
    color: rgb(9, 140, 222);
}

#descrizione-foto {
    font-size: 10px;
}

/* stili main */

.importante{
    background-color: yellow;
}

/* modifiche tabella */

table thead{
    background-color: lightskyblue;
   
}

thead th{
    text-align: left;
}

.colorato{
    background-color: rgb(11, 242, 242);
}

.modifiche-tabella{
    width: 50%;
    text-align: left;
}

/* stili footer  */
/* modifiche immagini */
#immagine-computer{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 10px 0px;
    font-size: 30px;
}

#immagine-grafico{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
}