/* stili generale  */
:root{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* stili header */
#decorazione{
    height: 100px;
    background-color: blue;
    background-image: url(../img/pattern.png);
    background-size: contain;
    margin-bottom: 10px;
}

#decorazione div{
    height: 50px;
}

#decorazione img{
    height: 30%;
}

#data{
    color: rgba(0, 0, 0, 0.429);
}

#creatore{
    color: blue;
}

#descrizione-foto {
    font-size: 10px;
}

/* stili main */

.importante{
    background-color: yellow;
}